@model ead_Mini_project_3.Models.Band

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Band</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BandName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BandName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Albums)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Albums)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Members)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Members)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BandWebsite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BandWebsite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Youtube)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Youtube)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contact)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
