@model IEnumerable<ead_Mini_project_3.Models.Band>

@{
    ViewBag.Title = "Index";
}

<h2>Acts</h2>

<p>
    @Html.ActionLink("Add an Act", "Create")
</p>

@using (Html.BeginForm())
{
    <p>
        Find by name: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}
    <table>
    <tr>
        <th>
            @Html.ActionLink("Band Name ", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>

        <th>
            Albums
        </th>
        
        <th>
            @Html.ActionLink(" Genre ", "Index", new { sortOrder = ViewBag.DateSortParm })
        </th>
        <th>
            Members
        </th>

        <th>
            Website
        </th>

        <th>
            Youtube
        </th>

        <th>
            Contact
        </th>
        <th></th>
    </tr>



@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BandName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Albums)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Members)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BandWebsite)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Youtube)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contact)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
