@model ead_Mini_project_3.Models.Show

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Show</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ShowName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShowName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Venue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Venue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MainBand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MainBand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SupportBand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SupportBand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TicketsAvailable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketsAvailable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoldOut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoldOut)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
